.aside{
    padding: 2%;
    margin: 0 1%;
}

.area, .input{
    border: #ddd solid 1px;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 100%;
}

.button{
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    color: #256624;
    background-color: #9bf799;
    font-weight: bold;
}